[toolchain]

[features]
resolution = true
skip-lint = false

[programs.localnet]
solana_contracts = "FDNdjkFkgTXZDBY76wxG5b3wMZrVeoykJg8TShzY8pJ6"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
